@use "@src/styles/colors";

.main {
  display: grid;
  grid-template-rows: repeat(3, minmax(max-content, 100vh)); // hehe :)
  gap: 20vh;
  section {
    background-color: colors.$color-white-background;
    scroll-margin-top: 125px;
    opacity: 0;
    transform: translateY(10%);
    &.animate {
      animation: slideIn 300ms forwards ease-out;
      > div > div {
        animation-name: slideIn;
      }
    }
    // animation-iteration-count: infinite;
  }

  ::-webkit-scrollbar {
    width: 2rem;
    background: colors.$color-white-background;
    margin: 100px;
  }

  ::-webkit-scrollbar-thumb {
    width: 1rem;
    border-radius: 100vh;
    background: colors.$color-gradient-vertical;
    border: 10px solid colors.$color-white-background;
  }

  ::-webkit-scrollbar-track {
    margin: 100px;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
