@use "@src/styles/grid-system.scss" as gridSystem;

.mobile {
  @media (min-width: gridSystem.$mediaDesktop) {
    display: none;
  }
}

.desktop {
  display: none;
  @media (min-width: gridSystem.$mediaDesktop) {
    display: revert;
  }
}
