@use "@src/styles/colors";

$transition: 300ms ease-out;

.project_card {
  opacity: 0;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 0 1rem 1.25rem;
  position: relative;
  background-color: colors.$color-white-background;
  > img {
    width: -webkit-fill-available;
    height: auto;
  }
  &:hover {
    .slider {
      translate: 100%;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.separator {
  text-align: center;
  position: relative;
  align-items: center;
  &:has(+ .project_card) {
    flex-direction: row-reverse;
    &:after {
      right: -1rem;
    }
  }
}

.empty {
  display: none;
}

.slider {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  right: 0;
  background: colors.$color-gradient-horizontal;
  padding: 0 14px;
  height: 100%;
  transition: translate $transition;
  border-radius: 0 4px 4px 0;
  z-index: 1;
  img {
    mix-blend-mode: color-burn;
  }
}

@media (min-width: 1024px) {
  .project_card {
    flex-direction: row;
    max-width: unset;
    align-items: unset;
    > img {
      height: unset;
      max-width: 250px;
      max-height: 250px;
      margin: auto;
    }
  }
  .separator {
    border-right: 3px solid #8e54e9;
    &::after {
      background: colors.$color-gradient-horizontal;
      content: "";
      width: 1rem;
      aspect-ratio: 1 / 1;
      position: absolute;
      transform: translateX(-7px);
      border-radius: 100vh;
    }
    &:has(+ .project_card:hover) > span {
      font-size: 1rem;
    }
    > span {
      white-space: nowrap;
      font-size: 0px;
      padding: 0 1rem;
      transition: font-size $transition;
    }
  }
  .slider {
    display: flex;
  }
}
