@use "@src/styles/grid-system.scss" as gridSystem;

.skills {
  scroll-margin-top: -550px; //Focus on the skills
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 3.5rem;
  position: relative;
  &__beautifier {
    display: block;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 109px; // Image height - 1px from the image that could be cropped too
  }
}

@media (min-width: gridSystem.$mediaDesktop) {
  .skills {
    &__beautifier {
      position: initial;
      height: 300px;
    }
  }
}
