.wrapper {
  display: flex;
  flex-direction: column;
  span:last-child {
    width: fit-content;
    color: transparent;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    margin: 100px 0;
    white-space: nowrap;
  }
}
