@use "@src/styles/grid-system" as gridSystem;

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 720px;
  span:last-child {
    width: fit-content;
    color: transparent;
  }
}

@media (min-width: gridSystem.$mediaDesktop) {
  .wrapper {
    margin-top: 100px;
    white-space: nowrap;
  }
}
