@use "@src/styles/grid-system" as gridSystem;

.footer {
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  &__name {
    padding-right: 8px;
  }
}

.socials {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (min-width: gridSystem.$mediaDesktop) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
