@use "../../styles.module.scss" as parentStyle;

.panelImage {
  display: none;
}

.panelLeft,
.panelRight {
  max-width: parentStyle.$panelMaxWidth;
}

.panelLeft__actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.panelsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 200%;
  justify-content: center;
  justify-items: center;
  transition: translate 200ms ease-out;
  > div {
    transition: opacity 400ms ease-out;
  }
  > :first-child {
    opacity: 1;
  }
  > :last-child {
    opacity: 0;
  }
  &.rightActivePanel {
    translate: -50%;
    > :first-child {
      opacity: 0;
      transition: opacity 50ms ease-out;
    }
    > :last-child {
      opacity: 1;
    }
  }
}

@media (min-width: 1024px) {
  .panelImage {
    display: revert;
    transform: translate(0, -40px);
    border-radius: 100vh;
    width: parentStyle.$imageWidth;
    height: auto;
    aspect-ratio: 1 / 1;
    align-self: flex-start;
  }
  .panelLeft,
  .panelRight {
    max-width: unset;
  }
  .panelLeft {
    display: flex;
    gap: parentStyle.$gap;
    &__actions {
      justify-content: unset;
    }
    &__information {
      margin-top: 140px;
    }
  }
  .panelRight {
    padding-left: 200px;
  }
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.75rem 0;
  ul {
    margin: 0;
  }
}
