$marginMobile: 24px;
$marginDesktop: 180px;

.aboutMe {
  min-height: 100vh;
  margin-top: $marginMobile;
}

@media (min-width: 1024px) {
  .aboutMe {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: $marginDesktop;
  }
}
