$marginMobile: 24px;
$marginDesktop: 180px;
$panelMaxWidth: 720px;

.aboutMe {
  min-height: 100vh;
  margin-top: $marginMobile;
  scroll-margin-top: 550px; //Focus on the skills

}

@media (min-width: 1024px) {
  .aboutMe {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: $marginDesktop;
  }
}
